{% extends "layout.html" %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">500 Internal Server Error</h5>
                <pre class="card-text">
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.
                </pre>
            </div>
        </div>
    </div>
{% endblock %}
