<!-- Footer -->
<footer class="footer">
    <div class="container-xxxl flex-md-nowrap">
        <p>If you would like to request deletion, please contact Mia via IRC on Libera Chat, or send an email to mia@0x0.st (do not copy and paste).</p>
        <p>Please allow up to 24 hours for a response.</p>
        <a href="https://github.com/datlt4/zxz" target="_blank">
            <div class="d-inline-flex align-items-center contact" data-bs-toggle="tooltip" data-bs-placement="left" title="Maintainer">
                <img src="{{ url_for('static', filename='maintainer_avatar.jpg') }}" class="rounded-circle" alt="avatar" width="40px" height="40px">
                <span class="fw-bold">Luong Tan Dat</span>
            </div>
        </a>
    </div>
</footer>
