{% extends "layout.html" %}

{% block title %}Forgot Password? | nullptr{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flash-message-{{ category }}" data-category="{{ category }}" data-message="{{ message }}"></div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row justify-content-center">
    <div class="col-md-6 mb-4 border rounded-4 p-3">
        <h2 class="mb-4 d-flex align-items-center justify-content-center">
            <span>Forgot Your Password</span>
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#login" style="padding-left: 0.375em;"></a>
        </h2>
        <div class="mb-4 alert alert-info" role="alert">
            Please enter the email address you'd like your password reset information sent to
        </div>
        <div class="row">
            <div class="col-md-12 indented-content">
                <form id="forgot-password-form" method="POST" action="/forgot-password">
                    <div class="mb-4">
                        <div class="d-flex align-items-center">
                            <label for="email-forgot-password" class="form-label font-monospace">
                                <span style="color: #3b82df;">email address</span><span style="color: #fe4740;">*</span>
                            </label>
                        </div>
                        <input type="input" class="form-control" id="email-forgot-password" name="email" placeholder="Enter your email address">
                        <div id="email-forgot-password-feedback" class="invalid-feedback">
                            <span id="feedback-text">Please enter valid email.</span>
                        </div>
                    </div>

                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <button id="submit-btn" type="button" class="btn btn-primary custom-btn w-100" onclick="submitForm()">Reset My Password</button>
                    </div>
                    <hr>
                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <div><span class="font-monospace">Back to</span></div>
                        <div><a href="/login" class="form-label font-monospace mb-0" style="color: #3b82df; padding-left: 10px;">Login Page</a></div>
                    </div>
                </form>
            </div>
        </div>
        {% include "toast-template.html" %}
    </div>
</div>


<!-- Customize JS -->
<script src="{{ url_for('static', filename='forgot_password.js') }}"></script>
{% endblock %}
