{% extends "layout.html" %}

{% block title %}Login | nullptr{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flash-message-{{ category }}" data-category="{{ category }}" data-message="{{ message }}"></div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row justify-content-center">
    <div class="col-md-6 mb-4 border rounded-4 p-3">
        <h2 id="login">
            <span>Log in to your account</span>
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#login" style="padding-left: 0.375em;"></a>
        </h2>
        <div class="row">
            <div class="col-md-12 indented-content">
                <form id="login-form" method="POST" action="/login">
                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <label for="username-login" class="form-label font-monospace">
                                <span style="color: #3b82df;">email/username</span><span style="color: #fe4740;">*</span>
                            </label>
                        </div>
                        <input type="input" class="form-control" id="username-login" name="user_info" placeholder="Enter your email address or username">
                        <div id="username-login-feedback" class="invalid-feedback">
                            <span id="feedback-text">Please check your login details.</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <label for="password-login" class="form-label font-monospace">
                                <span style="color: #3b82df;">password</span><span style="color: #fe4740;">*</span>
                            </label>
                        </div>
                        <div class="input-group password-with-eye mb-3">
                            <input type="password" class="form-control" id="password-login" name="password" placeholder="Enter your password">
                            <span class="input-group-text"><i class="bi bi-eye"></i></span>
                        </div>
                        <div id="password-login-feedback" class="invalid-feedback">
                            <span id="feedback-text">Try to remember and re-enter the correct password.</span>
                        </div>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <label class="form-label mb-0" for="remember-me">
                            <input class="form-check-input me-2" type="checkbox" id="remember-me" name="remember">
                            <span class="font-monospace" style="color: #3b82df;">remember me</span>
                        </label>
                    </div>
                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <button id="submit-btn" type="button" class="btn btn-primary custom-btn w-100" onclick="submitLoginForm()">Log In</button>
                    </div>
                    <hr>
                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <button id="login-with-google-btn" type="button" class="btn btn-outline-secondary w-100" onclick="loginWithGoogle()">
                            <img style="margin-right:10px;" width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/120px-Google_%22G%22_logo.svg.png">Sign In with Google
                        </button>
                    </div>
                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <button id="login-with-github-btn" type="button" class="btn btn-outline-secondary w-100" onclick="loginWithGithub()">
                            <img style="margin-right:10px;" width="20px" height="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png">Sign In with Github
                        </button>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <a href="#" class="form-label font-monospace mb-0" style="color: #3b82df;">Forget Password?</a>
                    </div>
                </form>
            </div>
        </div>
        {% include "toast-template.html" %}
    </div>
</div>


<!-- Customize JS -->
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}
